# Java
/build/
.gradle/

# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc

# OS
.DS_Store

# IDE
.vscode/
.idea/

app.jar
backend/app.jarapp.jar
backend/app.jar
backend/build/
frontend/dist/
frontend/node_modules/
node_modules/
generate_result.json
confirm_payload.json
